<div class="title">
    <h1 style="color:blue;">Editar Restaurante</h1>
  </div>
  <table class="table table-bordered table-inverse">
    <form>
      <div class="form-group">
        <label>Nome do Restaurante</label>
        <input type="text" class="form-control" id="#">
      </div>
      <div class="footer">
        <a href="restaurante/listarestaurante">
          <button type="submit" class="btn btn-primary">Salvar</button>
        </a>
        <a href="restaurante/listarestaurante">
          <button type="submit" class="btn btn-primary">voltar</button>
        </a>
      </div>
    </form>
  </table>
