<div class="title">
  <h1 style="color:blue;">Cadastrar Prato</h1>
</div>
<table class="table table-bordered table-inverse">
  <form>
    <div class="form-group">
      <label for="sel1">Restaurante</label>
      <select class="form-control" id="sel1">
        <option>Boa Comida</option>
      </select>
    </div>
    <div class="form-group">
      <label>Prato</label>
      <input type="text" class="form-control" id="#">
    </div>
    <div class="form-group">
      <label>Preço</label>
      <input type="text" class="form-control" id="#">
    </div>
    <div class="footer">
      <a href="prato/listaprato">
        <button type="submit" class="btn btn-primary">Salvar</button>
      </a>
      <a href="prato/listaprato">
        <button type="submit" class="btn btn-primary">voltar</button>
      </a>
    </div>
  </form>
</table>