<div class="title">
    <h1 style="color:blue;">Restaurantes</h1>
    </div>
    <div class="btn-group" role="group" aria-label="...">
      <a href="restaurante/cadastrorestaurante"><button type="button" class="btn btn-default">Cadastrar Novo Restaurante</button></a>
      </div>
  <table class="table table-bordered table-inverse">
    <thead>
      <tr class="bg-primary">
        <th>ID</th>
        <th> Nome do Restaurante</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-primary">
        <th scope="row">1</th>
        <td>Comida Boa</td>
        <td>
          <a href="restaurante/editarrestaurante"><button type="button" class="btn btn-default">Editar</button></a>
          <button type="button" class="btn btn-default">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>