<html style="background-image:url(../assets/imgs/main-slider1.png);">
    
  <div class="title">
  <h1 style="color: white; text-align:center;">Restaurantes</h1>
  </div>
  <div class="btn-group" role="group" aria-label="...">
    <a href="restaurante/cadastrorestaurante"><button type="button" class="btn btn-primary">Cadastrar Novo Restaurante</button></a>
    </div>
    <hr>
    <p></p>
<table class="table table-bordered">
  <thead class="thead-default" >
    <tr>
      <th>ID</th>
      <th>Restaurante</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Comida Boa</td>
      <td>
        <a href="restaurante/editarrestaurante"><button type="button" class="btn btn-primary">Editar</button></a>
        <button type="button" class="btn btn-primary">Excluir</button>
      </td>
    </tr>
  </tbody>

</table>

</html>
 